/* src/App.css */
body.light {
    background-color: white;
    color: black;
}

body.dark {
    background-color: black;
    color: white;
}

.toggle-button {
    position: fixed;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 34px;
    color: inherit;
}

.toggle-button:hover {
    transform: scale(1.2);
}
